doctype html
html(lang='en')
head
  script(src='phaser.js')
  script(src='boot.js')
  script(src='load.js')
  script(src='menu.js')
  script(src='play.js')
  script(src='play2.js')
  script(src='game.js')
body
  #game
